@{
    ViewBag.Title = "Contact details";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Phone: </strong>07483 294416
</address>

<address>
    <strong>Support:</strong><a href="mailto:Support@epegboard.com">support@epegboard.com</a><br />
    <strong>Sales:</strong> <a href="mailto:sales@epegboard.com">sales@epegboard.com</a>
</address>