@{
    ViewBag.Title = "Download free trial";
}
<h2>@ViewBag.Title</h2>

<p>To receive a download link for a fully functional 60-day trial, contact <a href="mailto:sales@epegboard.com">sales@epegboard.com</a></p>
