@page

@model PegboardWebSite.Pages.ContactModel
@{
}

<address>
    MBS Software<br />
    13 Bentall Close<br />
    Willen<br />
    Milton Keynes<br />
    MK15 9HB<br />
    <strong>Phone: </strong>07483 294416
</address>

<address>
    <strong>Support:</strong><a href="mailto:Support@epegboard.com">support@epegboard.com</a><br />
    <strong>Sales:</strong> <a href="mailto:sales@epegboard.com">sales@epegboard.com</a>
</address>