@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Web Application</title>
</head>
<body>
<div class="text-center">
    <p class="lead" style="padding-top:40px"><img src="~/Images/laptop wide.jpg" /></p>
    <h3 style="color:white;background-color:darkgreen;text-align:center;padding-bottom:20px; padding-left:5px;padding-right:5px">
        ePegboard software replaces the traditional badminton pegboard by using powerful AI to produce perfectly balanced games.
    </h3>
</div>
<p>
    <ul>
        <li><strong>Smart Game Recommendations:</strong> Receive balanced game suggestions considering player ratings, waiting times, and rotation, ensuring everyone gets the best gaming experience.</li>

        <li><strong>Competitive Insights with Performance Stats:</strong> Elevate your gameplay with detailed performance statistics and score predictions, adding a competitive edge to every match.</li>

        <li><strong>Optimized Court Usage:</strong> Boost efficiency by optimizing court usage, ensuring maximum playtime and minimizing downtime.</li>

        <li><strong>Comprehensive Game Management:</strong> Capture and track game results, attendee numbers, and player ratings, providing valuable insights for club management.</li>

        <li><strong>Flexible Game Assignment:</strong> Empower administrators to manually set up games when players request it, offering flexibility in managing match arrangements.</li>

        <li><strong>Automated Player and Game Announcements:</strong> Utilize the computer's audio output to seamlessly announce players and upcoming games, eliminating the need for manual shout-outs and enhancing the overall gaming experience.</li>

        <li><strong>Cost-Effective Offline Solution:</strong> Enjoy the convenience of an affordable standalone package that works offline, delivering reliable functionality without breaking the bank.</li>

        <li><strong>Touchscreen Friendly and Intuitive Design:</strong> Experience user-friendly and intuitive design, tailored for touchscreen use, making interactions smooth and effortless.</li>

        <li><strong>Easy Data Management with Export Options:</strong> Effortlessly manage club data with exports in standard formats, streamlining club management tasks for better organization.</li>

        <li><strong>Player Photos:</strong> Easy to use for club newcomers to quickly identify players in their game.</li>
    </ul>
</p>
 <p style="text-align:center;padding-bottom:20px"><a href="~/downloads/ePegboardSetup_1.5.0.msi" class="btn btn-primary btn-lg">Download Free Trial for Windows</a></p>
 <div class="row">
    <div class="col-md-4">
        <a href="~/Images/pegboard games.jpg"><img src="~/Images/pegboard games.jpg" width="300" /></a>
    </div>
    <div class="col-md-4">
        <a href="~/Images/pick attendee.png"><img src="~/Images/pick attendee.png" width="300" /></a>
    </div>
    <div class="col-md-4">
        <a href="~/Images/attendee_stats.png"><img src="~/Images/attendee_stats.png" width="300" /></a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>Game scheduling to replace the traditional pegbaord</p>
    </div>
    <div class="col-md-4">
        <p>One touch sign in from player selection screen during sessions</p>
    </div>
    <div class="col-md-4">
        <p>Games results and ratings</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="~/Images/profile partners.png"><img src="~/Images/profile partners.png" width="300" /></a>
    </div>
    <div class="col-md-4">
        <a href="~/Images/session game history.png"><img src="~/Images/session game history.png" width="300" /></a>
    </div>
    <div class="col-md-4">
        <a href="~/Images/payments.png"><img src="~/Images/payments.png" width="300" /></a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>Player history and statistics</p>
    </div>
    <div class="col-md-4">
        <p>Results stored for every game in the session</p>
    </div>
    <div class="col-md-4">
        <p>Track and and export report session payments details</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="~/Images/player_management.png"><img src="~/Images/player_management.png" width="300" /></a>
    </div>
    <div class="col-md-4">
        <a href="~/Images/edit_player.png"><img src="~/Images/edit_player.png" width="300" /></a>
    </div>
    <div class="col-md-4">
        <a href="~/Images/partnership_stats.png"><img src="~/Images/partnership_stats.png" width="300" /></a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>Player registry and club standings</p>
    </div>
    <div class="col-md-4">
        <p>Player profile and membership details</p>
    </div>
    <div class="col-md-4">
        <p>Partner / opponent analysis</p>
    </div>
 </div>
</body>